<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Edit user</h2>
    <form method="POST" th:object="${user}" th:action="@{/edit-user/} + ${user.id}">
        <label for="firstName">First name: </label>
        <input name="firstName" type="text" th:value="${user.firstName}" />
        <br>
        <label for="lastName">Last name: </label>
        <input name="lastName" type="text" th:value="${user.lastName}" />
        <label for="gender">Gender: </label>
        <br>
        <input name="gender" type="text" th:value="${user.gender}" />
        <br>
        <label for="phoneNumber">Phone number: </label>
        <input name="phoneNumber" type="text" th:value="${user.phoneNumber}" />
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>